<!DOCTYPE html>
{% load static %}
<body>
  <div id="main">
    <div id="leftbox">
  <p>This website is a supplement to a paper entitled "Massive expression of germ cell specific genes is a hallmark of cancer and a potential target for novel treatment development". The interactive Venn diagram allows researchers to visualize their own cut-off criteria in the used datasets. [en hier nog wat uitleg misschien, mag jij schrijven]
  </p>
      <div class="clickables" id="dlreset">
      <button id="reset_original">Reset selection criteria</button>
      <button id="downloadCurSel">Download current selection (CSV) </button>
	
      </div>
      
      <div id="div_chart_jan" class="chart_div">
	<svg class="chart" id="expr_jan"></svg>
	<div class="chart_status">
	  <p>Selected <span class="nofgenes" id="nofgenes_jan"></span> genes whose max. expression in germ cells is above <input class="input_range_jan" id="input_min_jan" type="number" step="0.01" min="0" max="13">&nbsp;</p><p id="max_range_max_jan">and below <input class="input_range_jan" id="input_max_jan" type="number" step="0.01" min="0" max="13"></p>
	</div>
      </div>

      <div id="div_chart_gte" class="chart_div">
	<svg class="chart" id="expr_gte"></svg>
	<div class="chart_status">
	  <p>Selected <span class="nofgenes" id="nofgenes_gte"></span> genes whose max. expression in somatic tissues is above
	    <input class="input_range_gte" id="input_min_gte" type="number" step="0.01" min="0" max="13">&nbsp;</p><p id="max_range_max_gte">
	    and below
	    <input class="input_range_gte" id="input_max_gte" type="number" step="0.01" min="0" max="13">
	  </p>
	</div>

      </div>
      

      <div id="div_chart_tcgan" class="chart_div">
	<svg class="chart" id="expr_tcgan"></svg>
	<div class="chart_status">
	  <p>Selected <span class="nofgenes" id="nofgenes_tcgan"></span> genes whose max. expression in tumors is above <input class="input_range_tcgan" id="input_min_tcgan" type="number" step="0.01" min="0" max="13">&nbsp;</p><p id="max_range_max_tcgan">and below <input class="input_range_tcgan" id="input_max_tcgan" type="number" step="0.01" min="0" max="13"></p>
	</div>

      </div>
      
    </div>
    
    
    <div id="rightbox">
      
      
      <div id="venn" class="clickablesvenn">
      <button id="saveVenn">Export as png</button>
	
      </div>
      
    </div>

    
  </div>

</body>
<head>
  <!-- Load venn library DONT FORGET TO INCLUDE REFERENCE -->
  
  <script> <!-- Access path here once to load tsv file in other scripts -->
    var expr_tsv_path = "{% static 'js/expr_02.tsv' %}";
  </script>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link type="text/css" href="{% static "css/base.css" %}" rel="stylesheet">
  <script type="text/javascript" src="https://d3js.org/d3.v4.js"></script>
  

  <script type="text/javascript" src="{% static "node_modules/venn.js/venn.js" %}"></script>
  <script type="text/javascript" src="{% static "js/base.js" %}"></script>

  
  <!-- <\!-- For export to png  purposes -\-> -->
  <script src="https://cdn.rawgit.com/eligrey/canvas-toBlob.js/f1a01896135ab378aa5c0118eadd81da55e698d8/canvas-toBlob.js"></script>
  <script src="https://cdn.rawgit.com/eligrey/FileSaver.js/e9d941381475b5df8b7d7691013401e171014e89/FileSaver.min.js"></script>

  
  <!-- local -->

  <!-- <script type="text/javascript" src="{% static "node_modules/d3/build/d3.js" %}"></script> -->
  <!-- <script type="text/javascript" src="{% static "node_modules/jquery/dist/jquery.min.js" %}"></script> -->
  
  <!-- <script type="text/javascript" src="{% static "node_modules/venn.js/build/venn.min.js" %}"></script> -->
  
</head>


  
  <!--     <div id="introbox"> -->
  <!--       <h3>Appendix: Figure x</h3> -->
  <!--       <p>blablablablablablablablablabal</p> -->
  <!--       <p>blablablablablablablablablabal</p> -->
  <!--       <p>blablablablablablablablablabal</p> -->
  <!--       <p>blablablablablablablablablabal</p> -->
  <!--       <p>blablablablablablablablablabal</p> -->
  <!--       <p>blablablablablablablablablabal</p> -->

  <!--       <div class="charts"> -->
  <!--       </div> -->
  <!--     </div>           -->


    

<!--     <div id="rightbox"> -->
      
	
<!-- 	<\!-- <svg id="vennsvg"></svg> -\-> -->
<!--       </div> -->
<!--     </div> -->


<!-- </div> -->
<!-- </div> -->


<!-- </body> -->
<!--   <\!-- <div id="leftbox"> -\-> -->
<!--   <\!-- <svg class="chart" id="expr_jan"></svg> -\-> -->
<!--   <\!-- <svg class="chart" id="expr_gte"></svg> -\-> -->
<!--   <\!-- <svg class="chart" id="expr_tcgan"></svg> -\-> -->
<!-- <\!-- <\\!-- </div> -\\-> -\-> -->

<!-- <body> -->
<!--   <div id="introbox"> -->
<!--     <h3>Appendix: Figure x</h3> -->
<!--     <p>blablablablablablablablablabal</p> -->
<!--     <p>blablablablablablablablablabal</p> -->
<!--     <p>blablablablablablablablablabal</p> -->
<!--     <p>blablablablablablablablablabal</p> -->
<!--     <p>blablablablablablablablablabal</p> -->
<!--     <p>blablablablablablablablablabal</p> -->

<!--     <div class="charts"> -->
<!--       <button id="reset_original">Reset selection criteria to original values</button> -->
      
<!--       <div id="div_chart_jan" class="chart_div"> -->
<!-- 	<svg class="chart" id="expr_jan"></svg> -->
<!-- 	<div class="chart_status"> -->
<!-- 	  <p>Selected <span class="nofgenes" id="nofgenes_jan"></span> genes whose expression in germ cells is above <input class="input_range" id="input_min_jan" type="number" step="0.01" min="0" max="13">&nbsp;</p><p id="max_range_max_jan">and below <input class="input_range" id="input_max_jan" type="number" step="0.01" min="0" max="13"></p> -->
<!-- 	</div> -->

<!--       </div> -->
<!--       <div class="chart_div"> -->
<!-- 	<svg class="chart" id="expr_gte"></svg> -->
<!--       </div> -->
<!--       <div class="chart_div"> -->
<!-- 	<svg class="chart" id="expr_tcgan"></svg> -->
<!--       </div> -->
<!--     </div> -->
<!--   </div>           -->


  

<!--   <div id="rightbox"> -->
    
<!--     <div id="venn"> -->
<!--       <button id="downloadCurSel">Download current selection (CSV) </button> -->
<!--       <button id="saveVenn">Export as png</button> -->
      
<!--       <\!-- <svg id="vennsvg"></svg> -\-> -->
<!--     </div> -->
<!--   </div> -->


<!-- </div> -->
<!-- </div> -->


<!-- </body> -->
