<!DOCTYPE html>
{% load static %}
<body>
  <div id="rightbox">
    <button id="downloadCurSel">Download current selection (CSV) </button>
  <div id="venn">
    <svg ></svg>
  </div>
</div>
  <div id="leftbox">
    <div id="div_chart_jan">
      <input class="input_range" id="input_min_jan" type="number" step="0.01" min="0" max="13">
      <input class="input_range" id="input_max_jan" type="number" step="0.01" min="0" max="13">
      <svg class="chart" id="expr_jan"></svg>
    </div>
<svg class="chart" id="expr_gte"></svg>
<svg class="chart" id="expr_tcgan"></svg>
</div>


</body>
<head>
    <!-- Load venn library DONT FORGET TO INCLUDE REFERENCE -->
    
  <script> <!-- Access path here once to load tsv file in other scripts -->
    var expr_tsv_path = "{% static 'js/expr_02.tsv' %}";
  </script>
  <!-- <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script> -->
  <!-- <script type="text/javascript" src="https://d3js.org/d3.v4.js"></script> -->
 <!-- local -->
  <script type="text/javascript" src="{% static "node_modules/d3/build/d3.min.js" %}"></script>
  <script type="text/javascript" src="{% static "node_modules/jquery/dist/jquery.min.js" %}"></script>
  
  <script type="text/javascript" src="{% static "node_modules/venn.js/build/venn.min.js" %}"></script>
  
  <script type="text/javascript" src="{% static "js/base.js" %}"></script>


  <link type="text/css" href="{% static "css/base.css" %}" rel="stylesheet">
</head
>
<!-- <div id="leftbox"> -->
<!-- <svg class="chart" id="expr_jan"></svg> -->
<!-- <svg class="chart" id="expr_gte"></svg> -->
<!-- <svg class="chart" id="expr_tcgan"></svg> -->
<!-- </div> -->
