footer {
    margin-bottom: 0;
    width: 100%;
    heigth: 60px;
    overflow-y: hidden;
}
@variables color {
    jan: #D3CC44;
    gte: #76C25B;
    tcgan: #B35A5A;
}


body {
    overflow: auto;
}
#bodywrapper {
    transform: scale(0.67);
    transform-origin: 0 0;
    width: 1800px;
    height: auto;

}
#leftbox {
    float: left;
    width: 750px;
}

#venn {
    float: left;
    width: 1000;
    height: 1000;
}
#venn svg {
    float: left;
}



.chart_div {
    float: right;
    width: 750px;
}



[crossed-out="true"] {
    text-decoration: line-through;
    opacity: 0.5;
}
.ylabel {
    font-size: 9pt;
}

input {
    width: 48px;
}

.xlabel {
    font-size: 11pt;
}


rect.selection {
    opacity: 00;
}

rect.handle.handle-custom--w {
    opacity: 0.5;
}
     
       
.axis text {
    font-size: 10px;

    text-align: right;
}

.nofgenes  {
    text-decoration: underline;
}

#nofgenes_jan  {
    text-decoration-color: #D3CC44;
}
#nofgenes_gte  {
    text-decoration-color: #76C25B;
}
#nofgenes_tcgan  {
    text-decoration-color: #B35A5A;
}

    
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}
.grid {
    stroke: grey;
    opacity: 0.1;
    stroke-width: 0.5;
}

.axis path {
    fill: none;
    stroke: grey;
    stroke: 2;
    shape-rendering: crispEdges;
    
}
path line {
    fill: none;
    stroke: #000;
}

/* JAN GRAPH */
#line_jan {
    fill: none;
    stroke: #D3CC44;
    stroke-width: 2;
}

.area {
    opacity: 0.6;
}
#area_jan {
    fill: #D3CC44;
    stroke-width: 0;
 
}
/* GTE GRAPH */
#line_gte {
    fill: none;
    stroke: #76C25B;
    stroke-width: 2;
}

#area_gte {
    fill: #78C160;
    stroke-width: 0;
 
}

#line_tcgan {
    fill: none;
    stroke: #B35A5A;
    stroke-width: 2;
}

#area_tcgan {
    fill:  #B45A5A;
    stroke-width: 0;
}

#rightbox .chart_div {
    border: 1px outset;
    border-radius: 10px;
    float: right;
    display: grid;
}

.chart_status {
    margin-top: -30px;
    margin-left: 50px;
}
.chart_status text {
}

.chart_status p {
    float: left;
    font-size: 11pt;

}

    
#rightbox {
    align: right;
    position: relative;
    float: left;
    width: 770px;
    
}

#venn  {

    border: 1px outset;
    border-radius: 10px;
}		

#leftbox {
    position: relative;
    float: left;
    width: 900px;
}

.venntooltip {
  position: absolute;
  text-align: center;
  width: 128px;
  height: 16px;
  background: #333;
  color: #ddd;
  padding: 2px;
  border: 0px;
  border-radius: 8px;
  opacity: 0;
}
body {
    'Open Sans', sans-serif;
}

#rightbox #dlreset {
    width: 750px;
    position: relative;
    float: right;
}
#dlreset #reset_original {
    position: relative;
    float: right;
}
#dlreset #downloadCurSel {
    position: relative;
    float: left;
}

#saveVenn {
    position: relative;
    float: left;
}
.clickables button {
    background: none;
    border: none;
    color: grey;
    font-size: 12.5pt;
    cursor: pointer;
    text-decoration: underline;
    -o-transition: .1s;
    -ms-transition: .1s;
    -moz-transition:.1s;
    -webkit-transition: .1s;
    transition: .1s;

    
}


button:hover {
    color: black;
}

#paullink {
    color: black;
    text-decoration: underline;
}

#intextlink {
    color: black;
    text-decoration: none;
    font-style : italic;
}

#venndisclaimer p {
    color: grey;
    text-align: center;
}

#chartwrapper {
    width: 770px;
}

